<html>

<body>
  <h1 style="text-align: center;">Welcome!</h1>
  <p style="text-align: center; font-size: 15px;">Create an account or login</p>
  <div style="text-align:center">
    <a style="display:inline-block; font-size: 15px;" href="/users/register" >Register </a>
    <span>|</span>
    <a style="display:inline-block; font-size: 15px;" href="/users/login"> Login</a>
  </div>
 
</body>


</html>